<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/hexiom/src/com/slowfrog/hexiom/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.slowfrog.hexiom.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="level01.txt level02.txt level03.txt level04.txt level05.txt level06.txt level07.txt level08.txt level09.txt&#13;&#10;level10.txt level11.txt level12.txt level13.txt level14.txt level15.txt level16.txt level17.txt level18.txt&#13;&#10;level19.txt level20.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="hexiom"/>
</launchConfiguration>
